<body>
    <header class="hero is-warning is-bold">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    <i class="fas fa-utensils"></i> Online Ordering System<i class="fas fa-glass-cheers"></i>
                </h1>
                <h2 class="subtitle">
                    <!--Sub-title????-->
                </h2>
            </div>
        </div>
        <!--Navigation bar-->
        <nav class="navbar-item">
            <div class="field is-grouped">
                <p class="control">
                    <!--Logout button-->
                    <a class="button" id="logoutButton" href="/">
                        <span>Logout</span>
                    </a>
                </p>
            </div>
        </nav>
    </header>
    <br>
    <main class="container">
        <!--Dynamically enter restaurant details-->
        <div class="tile is-ancestor">
            <div class="tile is-4 is-vertical is-parent">
                <div class="tile is-child box">
                    <image src="{{restaurant.thumb}}">
                        <p> <b>Name:</b> <br> <a>{{restaurant.name}}</a>
                        </p>
                        <br>
                        <p> <b>Address:</b> <br> <a>{{restaurant.location.address}}</a></p>
                        <br>
                        <p> <b>Phone: </b><br> <a>{{restaurant.phone_numbers}}</a></p>
                        <br>
                        <p> <b>Trading hours:</b> <br> <a>{{restaurant.timings}}</a></p>
                        <br>
                        <p> <b>Additional information:</b> <br> {{restaurant.highlights}}
                        </p>
                </div>
            </div>
            <!--Menu items to be dynamically added from Zomato API or database? -->
            <form name="items" method="post">
                <div class="tile is-parent">
                    <div class="tile is-child box">
                        <p id="restName" class="is-size-2">{{restaurant.name}} Menu:</p>
                        <hr>
                        <ol>
                            {{#each item}}
                            <div class="row">
                                {{!-- <div class="col-lg-6">
                                    <li>
                                        <span>
                                            <label class="itemId">{{itemId}}</label>.
                                            <label class="itemName">{{name}}</label>
                                            ,Quantity: <label class="quantitySize">{{quantity}}</label>
                                            ,Price:$<label class="price">{{price}}</label>
                                        </span>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        <input class="input is-warning" type="text" placeholder="Warning input">
                                    </div>
                                </div>
                                <input class="input is-rounded" type="text" placeholder="Enter quantity">
                                <div class="col-lg-12"> <input type="text" data-id="quantity" class="quantity"
                                        placeholder="enter quantity"></div> --}}
                                <div class="columns">
                                    <div class="column">
                                        <b><label class="itemId" id="itemId">{{itemId}}</label>.</b>
                                        <b><label class="itemName">{{name}}</label>,</b>
                                    </div>
                                    <div class="column">
                                        <b>Quantity: <label class="quantitySize">{{quantity}}</label>,</b></div>
                                    <div class="column">
                                        <b> Price:$<label class="price">{{price}}</label></b>
                                    </div>
                                    <div class="column">
                                        <b> <input class="quantity input is-rounded" type="text" data-id="quantity"
                                                placeholder="Enter quantity"></b>
                                    </div>
                                </div>
                                {{!-- <div class="col">
                                <button class="button is-warning" data-id=`{{itemId}} id="item" `>
                                    Add to order
                                </button>
                            </div> --}}
                                </li>

                            </div>
                            {{/each}}

                            {{!-- <li>{{items.name}}
                            <button class="button is-warning" value="#" <!--item ID to be retreived from database and
                                set as value, when button is clicked item ID will be added to order database--> >
                                Add to order</button>
                        </li>
                        <br>
                        <li>Menu item #1
                            <button class="button is-warning">Add to order</button>
                        </li> --}}
                        </ol>
                        <hr>
                        <!--Finalise order and send to database-->
                        <div class="columns">
                            <div class="column"> <button class="button is-warning is-loading">Loading</button></div>

                            <div class="column">

                                <button class="button is-warning confirm_order" id="orderId">
                                    <b>Place my order</b>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </main>
</body>