<body>
    <header class="hero is-warning is-bold">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    <i class="fas fa-utensils"></i> Online Ordering System<i class="fas fa-glass-cheers"></i>
                </h1>
            </div>
        </div>
        <!--Navigation bar-->
        <nav class="navbar-item">
            <div class="field is-grouped">
                <p class="control">
                    <!--Logout button-->
                    <a class="button" id="logoutButton" href="/">
                        <span>Logout</span>
                    </a>
                </p>
            </div>
        </nav>
    </header>
    <main class="container">
        <h2>Review your order:</h2>
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th>Order Summary:</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each order/id}}
                <label class="itemId" data-id={{this}}>{{this}}</label>
                {{/each}}
                <tr>
                    <td><b>Item Name</b></td>
                    {{#each order/name}}
                    <td><b><label class="itemName">{{this}}</label></b></td>
                    {{/each}}
                </tr>
                <tr>
                    <td><b>Item Serving Size</b></td>
                    {{#each order/quantitySize}}
                    <td><label class="quantitySize">{{this}}</label>
                    </td>
                    {{/each}}
                </tr>
                <tr>
                    <td><b>Quantity Ordered</b></td>
                    {{#each order/quantity}}
                    <td><label class="quantity">{{this}}</label></td>
                    {{/each}}
                </tr>
                <tr>
                    <td><b>Price</b></td>
                    {{#each order/price}}
                    <td>$<label class="price">{{this}}</label></td>
                    {{/each}}
                </tr>
                <tr>
                    <td><b>Subtotal</b></td>
                    {{#each order/subTotal}}
                    <td class="subtotal"><b>${{this}}</b></td>
                    {{/each}}
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>Total Cost: </th>
                    <td></td>
                    <td>
                        <label class="total">$<b>{{order.totalPrice}}</b></button>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>Pick up Date/Time</td>
                    <td><input id="datetime" type="text" value="21-12-2012 8:30 pm">
                    </td>
                    <td>
                        <div class="control">
                            <button class="submitFinalorder button is-primary">I am Hungry. Prepare my food...</button>
                        </div>
                        {{!-- <button class="submitFinalorder">I am Hungry. Prepare my food...</button> --}}
                    </td>
                    <td></td>
                </tr>
            </tfoot>

        </table>
    </main>
</body>